<div class='footer'>

  <div class='footer-contents'>


    <div class='daily-details'>
      <h2 class='footer-content-head'>Dailyについて</h2>
      <ul class="footer-lists">
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'Daily利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>

    <div class='daily-details'>
      <h2 class='footer-content-head'>Dailyを見る</h2>
      <ul class="footer-lists">
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'レストラン一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>

    <div class='daily-details'>
      <h2 class='footer-content-head'>Dailyについて</h2>
      <ul class="footer-lists">
        <li><%= link_to 'Dailyガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'Dailyロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>


  </div>
  
  <%= link_to image_tag("IMG_2720.PNG", class:"footer-logo"), "#" %>
  <p>© Daily</p>

</div>