<%= render "shared/header" %>





<div class="add-header">
  <div class="food-like-box">
     <%= link_to image_tag("4x-1.png", class:"food-like"), "#" %>
     <p>１つから注文できる</p>
  </div>
  <div class="food-map-box">
     <%= link_to image_tag("4x-2.png", class:"food-map"), "#" %>
     <p>お近くのレストランを利用できる</p>
  </div>
  <div class="food-deriver-box">
     <%= link_to image_tag("4x-3.png", class:"food-deriver"), "#" %>
     <p>すぐにお届けします</p>
  </div>
</div>

<div class="main">

<div class="contents">
     <% @foods.each do |food| %>
     <div class="food-list">
          <% if food.image.attached? %>
            <%= link_to image_tag(food.image, class: "food-img"), food_path(food.id), method: :get %>
          <% end %>
          <div class='food-info'>
            <%= link_to food.user.nickname, "/users/#{food.user_id}", class: "user-name", method: :get %><br>
            <%= link_to food.title, food_path(food.id), class: "food-title", method: :get %><br>
            ¥<%= food.price %>

             <%= render partial: 'favorites/favorite', locals: { food: food} %>
             
          </div>
      </div>
    <% end %>
</div>


</div>

<%= render "shared/footer" %>



