<%= render "shared/header" %>

<div id="wrap">
  <ul id="slider">
    <li class="slide-item"><img src="https://d1f5hsy4d47upe.cloudfront.net/0d/0d1a65794a23f05aa9a2216df00a7dab_t.jpeg", alt="料理画像"></li>
    <li class="slide-item"><img src="https://d1f5hsy4d47upe.cloudfront.net/29/2957814d542011b580346a92cc201ad8_t.jpeg", alt="料理画像"></li>
    <li class="slide-item"><img src="https://d1x0dndjbjw02n.cloudfront.net/production/posts/eyecatches/000/028/893/original.jpeg?15215621981", alt="料理画像"></li>
  </ul>
</div>



</div>

<div class="main">

<div class="side-var">

</div>


<div class="contents">
     <% @foods.each do |food| %>
     <div class="food-list">
          <% if food.image.attached? %>
            <%= link_to image_tag(food.image, class: "food-img"), food_path(food.id), method: :get %>
          <% end %>
          <div class='food-info'>
            <%= link_to food.user.nickname, "/users/#{food.user_id}", class: "user-name", method: :get %><br>
            <%= link_to food.title, food_path(food.id), class: "food-title", method: :get %><br>
            ¥<%= food.price %>

                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
          </div>
     </div>
    <% end %>
</div>


</div>

<%= render "shared/footer" %>



